<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dukescript.dukebrush"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" 
        tools:overrideLibrary="com.oralb.sdk"/>  

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="dukebrush"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

        <activity android:name="com.oralb.sdk.OBTActivity"  
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" 
                  android:label="OralB" />
        
        <activity android:name="com.dukescript.dukebrush.AndroidMain3"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.dukescript.presenters.Android" 
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <!-- Configuration section. Defines: 
           - the HTML page to load on start
           - the class that contains the main initialization method
           - name of the initialization method in the given class
        -->
        <meta-data android:name="com.obt.sdk.ApplicationId" android:value="0b87210f-9207-4df6-8280-faaec0c22a0c"/> 
        <meta-data android:name="com.obt.sdk.ApplicationKey" android:value="3afc371f-e1e7-4f08-9037-fc24d47a88ed"/>

        <!--<meta-data android:name="loadPage" android:value="file:///android_asset/pages/index.html" />-->
        <meta-data android:name="loadPage" android:value="file:///android_asset/pages/minion.html" />
        <meta-data android:name="loadClass" android:value="com.dukescript.dukebrush.AndroidMain3" />
        <meta-data android:name="invoke" android:value="main" />
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
